.vehicle-list-container{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
}

.vehicle-list {
    width: 100%;
    height: calc(15 * 20px); /* Assuming each vehicle line has 20px height */
    overflow-y: auto;
}

.vehicle-button {
    padding: 2px;
    width: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
    text-align: left;
}

.vehicle-button:hover {
    background-color: #f1f1f1;
}

.vehicle-button-selected {
    background-color: #e6e6e6;
}

.add-edit-vehicle-buttons{
    margin-top: 20px;
}