.dashboard-container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.main-page-header{
    box-sizing: border-box;
    width: 100%;
    background-color: lightgray;
}

.main-page-header h1{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.main-page-body{
    box-sizing: border-box;
    width: 100%;
    display: flex;

}

.tracks-vehicles-lists{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}